<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home.css" />
    <title>Marketplace</title>
  </head>

  <body>
    <h1>Welcome to this market place!</h1>
    <div class="stores-container">
      <a href="/clothing" class="clothing-container">
        <section>
          <h2>Clothing Store</h2>
        </section>
      </a>
      <a href="/food" class="food-container">
        <section><h2>Food Store</h2></section>
      </a>
    </div>
    <!-- <section>
      <form action="/clothing" method="POST"><label for="search"></label><input type="text" id="search" name="search" /></form>
    </section> -->
  </body>
</html>
